/****
* elements
****/

li {
	font-family: monospace;
	font-size: 17px;
	list-style-type: none;
	white-space: pre-wrap;
}


/****
* classes
****/

.test {
	border: 1px solid;
	border-radius: 20px;
	border-top: 0px solid;
	border-color: hsla(68, 39%, 44%, 1);
	box-shadow: 10px 10px 20px hsla(68, 0%, 00%, 0.5);
	display: block;
	margin: 2ex;
	padding: 2ex;
}

