/****
* @file main.css
* @brief the main styling for TimeBudgeter
* @author Trevor Ratliff
* @date 2022-11-21
* 
* @verbatim
* History:  Date  |  Programmer  |  Contact  |  Description  |
*	2022-11-21  |  Trevor Ratliff  |  trevor.w.ratliff@gmail.com  |  file creation  |
* @endverbatim
****/

body {
	font-family: verdana, arial, monospace;
	font-size: 2ex;
}

section.#grid {
	display: block;
}
